// COLORS
$color-light: #F2F0E4;
$color-primary: #0F3D44;
$color-accent: #61F2AD;
$color-contrast: #467E84;
$color-contrast-2: #64ACAF;
$color-secondary: #3679ff;
$color-tertiary: #FF8048;
$color-disabled: #c0c4cc;
